@import url("./reset.css");
@import url("./header.css");
@import url("./footer.css");

:root {
  --dark-text: #292929;
  --secondary-text: #4d5053;
  --accent: #cda274;
  --line-color: #e6e6e6;
  --light-bg: #f4f0ec;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

* {
  outline: none;
}

*::selection {
  background-color: var(--accent);
  color: var(--white);
}

body {
  font-family: "Jost", sans-serif;
  background-color: var(--white);
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  outline: red 3px dashed;
}
